form {


  input {

    &.invalid {
      border: 1px solid red;
    }
  }

  label {
    span.error {
      transition: all .3s;
      position: relative;
      color: $color__error;
      font-size: 12px;
      top: 2px;
      left: 7px;
    }
  }

}
